@font-face {
    font-family: 'oswald';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/oswald/oswald-light.woff2') format('woff2'),
         url('fonts/oswald/oswald-light.woff') format('woff');
}

@font-face {
    font-family: 'oswald';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
         url('fonts/oswald/oswald-regular-webfont.woff') format('woff');

}




@font-face {
    font-family: 'oswald';
    font-weight: 600;
    font-style: normal;
    src: url('fonts/oswald/oswald-semibold-webfont.woff2') format('woff2'),
         url('fonts/oswald/oswald-semibold-webfont.woff') format('woff');

}
