@font-face {
  font-family: 'Berlin';
  src: url('Berlin.eot');
  src: url('Berlin.woff2') format('woff2'),
       url('Berlin.woff') format('woff'),
       url('Berlin.ttf') format('truetype'),
       url('Berlin.svg#Berlin') format('svg'),
       url('Berlin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

