@font-face {
  font-family: 'GothamNarrow-Book';
  src: url('GothamNarrow-Book.eot');
  src: url('GothamNarrow-Book.woff2') format('woff2'),
       url('GothamNarrow-Book.woff') format('woff'),
       url('GothamNarrow-Book.ttf') format('truetype'),
       url('GothamNarrow-Book.svg#GothamNarrow-Book') format('svg'),
       url('GothamNarrow-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

