@font-face {
  font-family: 'ApolloMTStd';
  src: url('ApolloMTStd.eot');
  src: url('ApolloMTStd.woff2') format('woff2'),
       url('ApolloMTStd.woff') format('woff'),
       url('ApolloMTStd.ttf') format('truetype'),
       url('ApolloMTStd.svg#ApolloMTStd') format('svg'),
       url('ApolloMTStd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

